
.container  {
   height: 100%; 
   align-items: center;
   justify-content: center;
   display: grid;
   place-items: center;
   background: #362100 url("https://images6.alphacoders.com/118/1186220.jpg");
   font-size: 1.3em;

}

.form {
    width: 30rem;
    margin: auto;
    padding: 4rem 1rem;
    background: #fefefe13;
    border-radius: 2rem;
    box-shadow: 0 15px 35px 0 #ffffffa6;
    backdrop-filter:  blur(10px);

}

h1 {
    width: 100%;
    text-align: center;
    color:antiquewhite;
}

img {
    height: 15rem;
    width: 50%;
    margin: 1.5rem auto 1.5rem 7.6rem ;
    border-radius: 50%;
    box-shadow: 0 18px 35px 0 #ffffffa6;
    backdrop-filter:  blur(4px);
    
}

.full-width {
    width: 100%;
    border-radius: 2rem;
}




