<div class="container mat-elevation-z10">
  <form class="form">
    <h1>Cadastro de colaboradores</h1>
    <img class="full-width" src="assets/img/tecnico-create.svg" alt="" />

    <section class="section">
      <mat-checkbox class="margin">ADMIN</mat-checkbox>
      <mat-checkbox class="margin">Técnico</mat-checkbox>
    </section>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome </mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>badge</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix class="material-symbols-outlined"> mail</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Placeholder" />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <button class="mat-elevation-z8" type="submit" mat-flat-button color="basic">
      <mat-icon matSuffix class="material-symbols-outlined">saved</mat-icon>
      Salvar
    </button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn">
      <mat-icon matSuffix class="material-symbols-outlined">close</mat-icon>
      Cancelar
    </button>
  </form>

  <p>Desenvolvido por Kadu Ribeiro Dev | Front-End</p>
</div>
